/* Falah css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h2,
h3,
h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

.apa {
  font-size: 36px;
  color: #933393;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: inter;
}

.inter {
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol,
ul,
menu {
  list-style: none;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

.desc {
  color: #696969;
  font-size: 13px;
  line-height: 18px;
  font-weight: lighter;
  flex: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  .apa {
    font-size: 36px;
    color: #933393;
    line-height: 54px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .sub {
    color: #696969;
    text-align: center;
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .mark {
    color: #732873;
    font-weight: 700;
  }
  .testimonial {
    color: #696969;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
  }

  h2 {
    font-size: 2.44rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --ta0-color-primary-hsl: 250, 84%, 54%;
  --ta0-color-bg-hsl: 0, 0%, 100%;
  --ta0-color-contrast-high-hsl: 230, 7%, 23%;
  --ta0-color-contrast-higher-hsl: 230, 13%, 9%;
  --ta0-color-contrast-lower-hsl: 240, 4%, 85%;
  --ta0-color-contrast-low-hsl: 240, 4%, 65%;
  --ta0-color-contrast-medium-hsl: 225, 4%, 47%;

  /* spacing */
  --ta0-space-4xs: 0.125rem;
  --ta0-space-3xs: 0.25rem;
  --ta0-space-2xs: 0.375rem;
  --ta0-space-sm: 0.75rem;
  --ta0-space-md: 1.25rem;
  --ta0-space-lg: 2rem;

  /* typography */
  --ta0-text-sm: 0.833rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --ta0-space-4xs: 0.1875rem;
    --ta0-space-3xs: 0.375rem;
    --ta0-space-2xs: 0.5625rem;
    --ta0-space-sm: 1.125rem;
    --ta0-space-md: 2rem;
    --ta0-space-lg: 3.125rem;

    /* typography */
    --ta0-text-sm: 1rem;
  }
}

/* icons */
.ta0-icon {
  height: var(--ta0-size, 1em);
  width: var(--ta0-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.ta0-icon--xl {
  --ta0-size: 64px;
}

/* component */

/* utility classes */
.ta0-margin-top-4xs {
  margin-top: var(--ta0-space-4xs);
}


.ta0-color-contrast-medium {
  --ta0-color-o: 1;
  color: hsla(var(--ta0-color-contrast-medium-hsl), var(--ta0-color-o, 1));
}

.ta0-block {
  display: block;
}

.ta0-text-sm {
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin-left: 8px;
  text-align: justify;
}

.align {
  color: #696969;
}

.ft {
  display: flex;
  align-items: center;
}

.ta0-border {
  --ta0-border-o: 1;
  border: var(--ta0-border-width, 1px) var(--ta0-border-style, solid)
    hsla(var(--ta0-color-contrast-lower-hsl), var(--ta0-border-o, 1));
}

.ta0-radius-50\% {
  border-radius: 50%;
}

.ta0-height-lg {
  height: 3rem;
}

.ta0-width-lg {
  width: 3rem;
}

.quote {
  height: 50px;
  width: 50px;
}

.ta0-margin-bottom-3xs {
  margin-bottom: var(--ta0-space-3xs);
}

.ta0-flex-shrink-0 {
  flex-shrink: 0;
}

.ta0-items-center {
  align-items: center;
}

.ta0-flex-column {
  flex-direction: column;
}

.ta0-flex {
  display: flex;
}

.ta0-margin-bottom-md {
  margin-bottom: var(--ta0-space-md);
}

.ta0-line-height-md {
  line-height: 1.4;
}

.ta0-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.ta0-margin-bottom-sm {
  margin-bottom: var(--ta0-space-sm);
}

.ta0-text-center {
  text-align: center;
}

.ta0-padding-md {
  padding: var(--ta0-space-md);
}

.ta0-radius-md {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 4px 4px 24px rgba(224,224,224,.35);
  padding: 32px;
}

.ta0-bg-contrast-lower {
  --ta0-bg-o: 1;
  background-color: hsla(
    var(--ta0-color-contrast-lower-hsl),
    var(--ta0-bg-o, 1)
  );
}

.ta0-gap-sm {
  gap: 24px;
}

.ta0-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ta0-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.ta0-margin-bottom-lg {
  margin-bottom: var(--ta0-space-lg);
}

.ta0-max-width-adaptive-lg {
  max-width: 32rem;
}

@media (min-width: 48rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media (min-width: 80rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.ta0-container {
  width: calc(100% - 2 * var(--ta0-space-md));
  margin-left: auto;
  margin-right: auto;
}

.ta0-margin-right-2xs {
  margin-right: var(--ta0-space-2xs);
}

.ta0-flex-wrap {
  flex-wrap: wrap;
}

.ta0-margin-bottom-2xs {
  margin-bottom: var(--ta0-space-2xs);
}

.ta0-color-contrast-low {
  --ta0-color-o: 1;
  color: hsla(var(--ta0-color-contrast-low-hsl), var(--ta0-color-o, 1));
}

.ta0-margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.ta0-border-2 {
  --ta0-border-width: 2px;
}

.ta0-border-bg {
  --ta0-border-o: 1;
  border-color: hsla(var(--ta0-color-bg-hsl), var(--ta0-border-o, 1));
}

.ta0-bg-opacity-30\% {
  --ta0-bg-o: 0.3;
}

.ta0-bg-opacity-50\% {
  --ta0-bg-o: 0.5;
}

@media (min-width: 64rem) {
  .ta0-margin-top-auto\@md {
    margin-top: 50px;
  }

  .ta0-margin-top-auto\@mdd {
    margin-top: 70px;
  }

  .ta0-flex-column\@md {
    flex-direction: column;
  }

  .ta0-flex\@md {
    display: flex;
  }

  .ta0-col-4\@md {
    grid-column-end: span 4;
  }
}

/* punya zafira */

/* end falah css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }


  /*section products*/
  .container-products {
    background-color: #77287d;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 40px;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    border-bottom: 3px solid #e9d6e9;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .card {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .course-logo{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
  }
  
  .sub-text {
    letter-spacing: 0.2em;
    text-align: left;
  }

  .text-title {
    text-transform: uppercase;
  }
  .text-block {
    background-color: blue;
    color: white;
    padding: 2px 8px;
    position: relative;
    top: -10px;
    right: 0;
  }
  .button .btn {
    background-color: #f99d1c;
    color: black;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
  }
  .products-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 40px;
    align-items: left;
  }

  .container-corporate {
    background-color: #77287d;
    padding: 20px;
    width: 100%;
  }

  .container-corporate h2, .container-corporate p {
      text-align: center;
      color: white;
  }

  .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card-corporate {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    height: auto;
  }

  .card-corporate h3{
    color: #77287d;
  }

  .card-corporate p{
    color: black;
  }
  .button-corporate {
    background-color: #77287d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.container-teach {
  background-color: #f99d1c;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
}



.content-teach {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-teach img {
  max-width: 50%;
  margin-left: 20px;
}

.content-teach .text {
  max-width: 50%;
  text-align: center;
}

.content-teach .text h1,
.content-teach .text p {
  color: black;
  margin-left: 60px;
}

.content-teach .text p {
  margin-bottom: 20px;
}

.button-teach {
  background-color: #77287d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}


/* .page-home-corporate-grid {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: grid;
}

.page-home-corporate-card {
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  display: flex;
  width: 350px;
}

.binar-button-large-purple-primary {
  background-color: #77287d;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 17px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
} */


      
